* {
  box-sizing: border-box;
}

/* .header {
  background-color: #5c5c5c;
  padding: 30px 40px;
  color: white;
  text-align: center;
}

.header:after {
  content: "";
  display: table;
  clear: both;
} */

/* input {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 16px;
} */

.addBtn {
  padding: 10px;
  width: 25%;
  height: 39px;
  background: #d9d9d9;
  color: #555;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
}

.addBtn:hover {
  background-color: #bbb;
}

.rainbow {
    animation: rainbow 600ms;
    animation-iteration-count: infinite;
  }
  
  @keyframes rainbow {
    0% {
      color: red;
    }
  
    15% {
      color: orange;
    }
  
    30% {
      color: yellow;
    }
  
    45% {
      color: green;
    }
  
    60% {
      color: blue;
    }
  
    75% {
      color: indigo;
    }
  
    90% {
      color: purple;
    }
  }
  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }