* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
}

:root {
    --page-width: 300px;
    --page-height: 300px;
    --background: linear-gradient(to left, #3e94ec, #25b7c4);
}

body {
    width: var(--page-width);
    height: var(--page-height);
    /* background: var(--background); */
}

.background {
    position: absolute;
    z-index: -1000;
    width: var(--page-width) !important;
    height: var(--page-height)!important;
    top: 0;
}

.header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.time_container {
    font-size: 20px;
}

.icon {
    width: 30px;
    height: 30px;
}